.products {
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}
.products::-webkit-scrollbar {
  display: none;
}
/* product item */
.product {
  margin-bottom: 40px;
}
.products .product:last-child {
  margin-bottom: 0;
}
.product--image {
  background-color: rgb(242, 245, 244);
  border-radius: 20px;
}
.product--name {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}
.product--description {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}
.product--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product--bottom label {
  font-size: 18px;
  font-weight: 700;
}

.product--bottom .product--add-to-cart {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all .25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: none;
  outline: none;
}

.product--bottom .product--add-to-cart.added {
  width: 46px;
  pointer-events: none;
  cursor: default;
  background: #f6c90e url('/assets/check.png') no-repeat center;
  background-size: 30px;
}